<div class="picture">
  <p>about Jewelog</p>
  <div class="about_container">
    <div class="about_content">
      <p class="about_text">
        Jewelyのレビューサイトです
      </p>
    </div>
  </div>

</div>